 .hero{
    height: 100%;
    overflow: hidden;
    display: flex;
}

.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    /* overflow: visible; */
}

.hImage{
position: absolute;
bottom: 0;
right: 0;
left: 0;
margin: auto;
height: 80%;
width: max-content;

}

.hImage img{
width: 100%;
height: 100%;
object-fit: cover;
}

.hsection{
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


 .htitle{
    margin-top: 50px;
    font-size: 50px;
    color: pink;
} 

.htitle span{
color: white;
}  

.awards{
    width: 30%;
     /* font-size: 14px;  */
}

.awards p{
    font-size: 15px;
    color:#ddd;
    margin: 12px 0px;
}

.awardList{
  display: flex;
  gap: 8px;
}

.awardList img{
    width: 36px;
    height: 36px;
    padding: 8px;
    background-color: white;
    border-radius: 100%;
}

.scroll{
    margin-bottom: 50px;
    width : max-content;
}

.hsection.right{
    align-items: end ;
} 
.follow{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    background-color: #2f204e;
    border-bottom-right-radius: 10px;
}

.follow img{
    width: 25px;
    height: 25px;
}

.followTextContainer{
    width: 20px;
    height: 20px;
}

.followText{
    background-color: #dd4c62;
    font-size: 12px;
    rotate: 90deg;
    width: max-content;
    height: 110%;
    transform-origin:left top ;
     transform:translateY(-20px);  
     padding: 0 8px;
     display: flex;
     align-items: center;
     border-top-right-radius: 10px;
     font-weight: 600;
    }

.bubbleContainer{
  width: 50%;
  display: flex;
  align-items: end;
  gap: 8px;
  justify-content: space-between;

}

.bubble{
   width: 100%;
   height: 100px;
   background-color: white;
   color: #555;
   padding: 24px;
   font-size: 18px;
   border-radius: 20px 20px 0px 20px;
}

.bubbleContainer img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  background-color: #dd4c62;
}
/* .download-btn {
    background-color: #ff4081;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .download-btn:hover {
    background-color: #e91e63;
  }
   */

   .download-btn {
    background-color: #ff4081;
    color: white;
    padding: 8px 13px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;  /* Space between icon and text */
}

.download-btn i {
    font-size: 15px;
}

.download-btn:hover {
    background-color: #e91e63;
}


.contactLink{
margin-bottom: 50px;
}

.contactButton{
    position: relative;
}
.circleText{
    letter-spacing: 3px;
    font-size: 20px;
}

.arrow{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 @media (max-width:1536px){
    .htitle{
        font-size:88px;
    }
} 

@media (max-width:1280px){
    .htitle{
        font-size:82px;
    }
    .bg{
        height:75%;
        top:auto; 
        bottom: 0;
    }
    .hImage{
        height: 100%;
    }

    .htitle{
        font-size:64px;
    }

    .awards{
        width: 60%;
    }
    .bubbleContainer{
        width: 70%;
    } 
    .bubble{
        padding-top: 8px;
    }
}

@media (max-width:1024px){
   .bg{
    height: 70%;
   }
   .htitle{
    font-size: 72px;
   }
   .bubbleContainer{
    width: 55%;
    
} 
.bubble{
    font-size: 12px;
    padding-top: 8px;
}
}

@media (max-width:768px){
    .hero{
        flex-direction: column;
    }
    .bg{
     height: 48%;
    }
    .hsection{
        width: 100%;
    }
    
    .hsection.left{
        align-items: center;
        text-align: center;
        gap:36px;
    }

    .htitle{
     font-size: 48px;
    }

    .awards{
        width: 100%;
    }
    .awardList{
        justify-content: center;
    }

    .hsection.right{
      justify-content: end;
    }

    .follow,
    .bubbleContainer,
    .contactLink
    {
        display: none;
    }

    .download-btn {
        background-color: #ff4081;
        color: white;
        /* padding: 5px 3px; */
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 13px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background 0.3s ease;
        display: flex;
        align-items: center;
        gap: 8px;  /* Space between icon and text */
    }
    
    .download-btn i {
        font-size: 15px;
    }
    
}